@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #e4e4e470;
}
section{
  width: 80%;
  margin: 0 10% 1% 10%;
}
.contact_form{  
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  border: 1px solid #666161;
  margin: 5% auto;
  border-radius: 5px;  
  background-color: #fbfbfb; 
  padding: 5% 0 5% 0; 
  box-shadow: 4px 5px 7px #666161;
}

input{
  background-color: #fbfbfb; 
  width: 100%; 
  height: 40px; 
  border-radius: 3px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #8c38ff; 
  box-shadow: 4px 5px 7px #666161;
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 100%; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #8c38ff; 
  box-shadow: 4px 5px 7px #666161;
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  box-shadow: 4px 5px 7px #666161;
  background-color: #8c38ff; 
  border-color: #8c38ff; 
  border-style: solid; 
  border-radius: 10px;  
  width: 100%;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #8c38ff; 
}


.aviso{
  font-size: .7rem;  
  color: #575656cb; 
}


h1{
  font-size:2rem;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #575656cb;
}


h3{
  font-size: .9rem; 
  padding-bottom: 30px;
  color: #575656cb;
}


p{
  font-size: .9rem; 
  color: #575656cb;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
@media (max-width: 992px) { 

}
@media (max-width: 768px) {
  section{
    width: 90%;
    margin: 5% 0% 0 5%;
  }
}
@media (max-width: 576px) { 
  section{
    width: 96%;
    margin: 3% 0% 0 3%;
  }
  button input textarea{
    width: 80%;
  }
}

