<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
        integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Sobre mi</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Franklin Theriault</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="about.html">SOBRE MI</a></li>
            <li><a href="contact.html">CONTACTO</a></li>
            <li><a href="experience.html">EXPERIENCIA</a></li>
          </ul>
        </div>
    </nav>
    <section>
      
    </section>
    <footer class="footer">
        <div class="footer_name">
          <h1>Franklin Theriault S.</h1>
          <h3>Front-End Web Developer HTML/CSS</h3>
      </div>
      <div class="footer_link">
          <ul>
              <li class="link-li"><i class="fa-brands fa-twitter"></i></li>
              <li class="link-li"><i class="fa-brands fa-facebook"></i></li>
              <li class="link-li"><i class="fa-brands fa-whatsapp"></i></li>
              <li class="link-li"><i class="fa-brands fa-github"></i></li>
          </ul>
      </div>
    </footer>
    <script src="/js/nav.js"></script>
    <script src="https://kit.fontawesome.com/fd1ef0d0ba.js" crossorigin="anonymous"></script>
</body>
</html>