<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
        integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Contactame</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Franklin Theriault</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="view/about.html">About</a></li>
            <li><a href="view/contact.html">Contact</a></li>
            <li><a href="view/">Experience</a></li>
          </ul>
        </div>
      </nav>
      <section>
        <div class="contact_row">
          <h1 class="contact_h1">Formulario de contacto</h1>
        </div>
        <div class="contact_form">
          <form class="form" action="maen.php" method="post" for="contact">
              <div class="contact_r">
                <div>
                  <label class="contact_label" for="">Nombre</label>
                  <input class="contact_input" type="text" name="name" id="name" required>
                  <span>*campo obligatorio</span>
                </div>
                <div>
                  <label class="contact_label" for="">Correo</label>
                  <input class="contact_input" type="mail" name="mail" id="mail" required>
                  <span>*campo obligatorio</span>
                </div>
                <div>
                  <label class="contact_label" for="">Asunto</label>
                  <input class="contact_input" type="text" name="asunt" id="asunt" required>
                  <span>*campo obligatorio</span>
                </div>
              </div>
              <div class="contact_l">
                <div>
                  <label class="contact_label" for="">Apellido</label>
                  <input class="contact_input"  type="text" name="apellido" id="apellido" required>
                  <span>*campo obligatorio</span>
                </div>
                <div>
                  <label class="contact_label" for="">Telefono</label>
                  <input class="contact_input" type="number" name="tel" id="tele" required>
                  <span>*campo obligatorio</span>
                </div>
                <div>
                  <label class="contact_label" for="">Donde nos escribe?</label>
                  <select id="Provicias" class="contact_select" required>
                    <option value="" disabled>--Selecione una opcion--</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Cartago">Cartago</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                  </select>
                </div>
              </div>
              <div class="contact_row">
                <button type="submit" class="contact_button">Enviar</button>
              </div>
          </form>         
        </div>
      </section>
      <footer class="footer">
        <div class="footer_name">
          <h1>Franklin Theriault S.</h1>
          <h3>Front-End Web Developer HTML/CSS</h3>
      </div>
      <div class="footer_link">
          <ul>
              <li class="link-li"><i class="fa-brands fa-twitter"></i></li>
              <li class="link-li"><i class="fa-brands fa-facebook"></i></li>
              <li class="link-li"><i class="fa-brands fa-whatsapp"></i></li>
              <li class="link-li"><i class="fa-brands fa-github"></i></li>
          </ul>
      </div>
      </footer>
    <script src="/js/nav.js"></script>
    <script src="https://kit.fontawesome.com/fd1ef0d0ba.js" crossorigin="anonymous"></script>
</body>
</html>