<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
        integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Contactame</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Franklin Theriault</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="view/about.html">About</a></li>
            <li><a href="view/contact.html">Contact</a></li>
            <li><a href="view/">Experience</a></li>
          </ul>
        </div>
      </nav>
      <section>
        <div class="contact_form">

          <div class="formulario">      
            <h1>Formulario de contacto</h1>
              <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>
      
      
                <form action="submeter-formulario.php" method="post">       
      
                  
                      <p>
                        <label for="nombre" class="colocar_nombre">Nombre
                          <span class="obligatorio">*</span>
                        </label>
                          <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                      </p>
                    
                      <p>
                        <label for="email" class="colocar_email">Email
                          <span class="obligatorio">*</span>
                        </label>
                          <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
                      </p>
                  
                      <p>
                        <label for="telefone" class="colocar_telefono">Teléfono
                        </label>
                          <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
                      </p>    
                    
                      <p>
                        <label for="website" class="colocar_website">Sitio web
                        </label>
                          <input type="url" name="introducir_website" id="website" placeholder="Escribe la URL de tu web">
                      </p>    
                    
                      <p>
                        <label for="asunto" class="colocar_asunto">Asunto
                          <span class="obligatorio">*</span>
                        </label>
                          <input type="text" name="introducir_asunto" id="assunto" required="obligatorio" placeholder="Escribe un asunto">
                      </p>    
                    
                      <p>
                        <label for="mensaje" class="colocar_mensaje">Mensaje
                          <span class="obligatorio">*</span>
                        </label>                     
                                          <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
                                      </p>                    
                    
                      <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>
      
                      <p class="aviso">
                        <span class="obligatorio"> * </span>los campos son obligatorios.
                      </p>          
                  
                </form>
          </div>  
        </div>
      
      
      </section>
      <footer class="footer">
        <div class="footer_name">
          <h1>Franklin Theriault S.</h1>
          <h3>Front-End Web Developer HTML/CSS</h3>
      </div>
      <div class="footer_link">
          <ul>
              <li class="link-li"><i class="fa-brands fa-twitter"></i></li>
              <li class="link-li"><i class="fa-brands fa-facebook"></i></li>
              <li class="link-li"><i class="fa-brands fa-whatsapp"></i></li>
              <li class="link-li"><i class="fa-brands fa-github"></i></li>
          </ul>
      </div>
      </footer>
    <script src="/js/nav.js"></script>
    <script src="https://kit.fontawesome.com/fd1ef0d0ba.js" crossorigin="anonymous"></script>
</body>
</html>